.pp-tree-item{
    height: 40px !important;
    align-self: center;
}

.pp-tree-item > span {
    align-self: center;
}

.pp-tree-buttons{
    align-self: center;
}

.fa-solid fa-eye-low-vision::before{
    content: '' !important;
}

.pp-tree-container{
    min-height: 650px;
}